/* <style> */



button {
    color: black;
    /* This is a single-line comment */
    text-align: center;
}

p {
    color: black;
    background-color: azure;
    background-clip: content-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    /* This is a single-line comment */
    text-align: left;
}

h1,
h2 {
    color: black;
    /* This is a single-line comment */
    font-size: 14px;
    text-align: left;
}

div {
    background-color: #0ff;
    /* background-color: black; */
    color: #e7e7e7;
    font: lighter;
    width: flex;
    height: 20px;
    border: 2px;
    overflow: auto;
}

#dest_copy,
#dest_copy_raw,
#dest_copy_then {
    border: 2px dashed blue;
    background-color: white;
    color: azure;
    width: 100px;
    height: 30px;
}

.notification {
    background-color: black;
    font-size: 13px;
    width: fit-content;
    height: 15px;
    overflow: hidden;
}

.xJSON {
    background-color: black;
    font-size: 16px;
    height: 40px;
}

.label {
    color: white;
    padding: 2px;
    font-family: Arial;
    /* box-flex: initial; */
    width: 800px;
    height: 20px;
}

.success {
    background-color: #4CAF50;

}

/* Green */
.info {
    background-color: black;
    /* background-color: #2196f3; */
    font-size: 15px;
    color: white;

}

/* Blue */
.warning {
    background-color: goldenrod;
    /* background-color: #ff9800; */
    font-size: 10px;
}

/* Orange */
.danger {
    background-color: #f44336;
}

/* Red */
.other {
    background-color: #e7e7e7;
    color: black;
    font-size: 12px;
}

/* Gray */
/* </style> */


/* <style> */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

canvas {
    height: 50%;
    position: fixed;
    width: 50%;
}
/* </style> */

